h1, h2, h3, h4, h5, h6, p {
	font-family: Georgia, "Palatino Linotype", Palatino, serif;
	font-weight: normal;
	padding: 0;
	margin: 0
}
h1 {
	font-size: 36pt;
	line-height: 42pt;
	margin-top: 24pt;
}
h2 {
	font-style: italic;
	font-size: 20pt;
	line-height: 24pt;
	margin-top: 12pt;
}
h3 {
	font-size: 14pt;
	line-height: 18pt;
	margin-top: 6pt;
}
p {
	font-size: 12pt;
	line-height: 18pt;
}