/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

table th { font-weight: bold; }
table td, table th { padding: 9px 10px; text-align: left; }
.pinned { float:left; border-right: 1px solid #ccc; }
.pinned tr *:first-child { padding-left: 0; }
td.cost { text-align: right; }

/* Mobile */
@media only screen and (max-width: 767px) {
	table.responsive { margin-bottom: 0; }
	
	.pinned { background: #fff; }
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; margin-right: -15px; }
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	
	#TableOverlay {
		width: 10%; height: 100%; position: absolute; right: 0;
		background-image: -webkit-linear-gradient(90deg, rgba(255,255,255,0), #ccc);
		background-image: -moz-linear-gradient(90deg, rgba(255,255,255,0), #ccc);
		background-image: -ms-linear-gradient(90deg, rgba(255,255,255,0), #ccc);
		background-image: -o-linear-gradient(90deg, rgba(255,255,255,0), #ccc);
		background-image: linear-gradient(90deg, rgba(255,255,255,0), #ccc);
	}
}
