body{
	font-size: 12pt;
	line-height: 18pt;
/*	text-rendering: optimizeLegibility;*/ /* breaks Chinese character rendering atm :( */
}
td, th{
	padding-left: 8px;
	text-align: left;
	font-weight: normal;
}
#subtitle {
	color:lightgray;
	font-size:medium
}
h1 { margin: 0 }
h2 { margin-top: 0 }
input.cost{
	text-align:right;
}
#ChurchButtons {
	padding: 2px 0;
}
.missing:not(li), .missing > a {
/*	outline: 2px solid red;*/
	background-color: #faa;
}
.form-horizontal .control-label {
	text-align: left;
}
